/* stylelint-disable */
.book-purchase {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'book-purchase__about'
    'book-purchase__img'
    'book-purchase__main'
    'book-purchase__form'
    'book-purchase__description';

  @media (min-width: $screen-m) {
    grid-template-columns: 3fr 5fr;
    grid-column-gap: 40px;
    grid-template-areas:
      'book-purchase__img           book-purchase__about'
      'book-purchase__img           book-purchase__main'
      'book-purchase__pages         book-purchase__form'
      'book-purchase__description   book-purchase__description';
  }

  @media (min-width: $screen-l) {
    grid-template-columns: 2fr 4fr 6fr;
    grid-column-gap: 40px;
    grid-template-areas:
      'book-purchase__pages   book-purchase__img           book-purchase__about'
      'book-purchase__pages   book-purchase__img           book-purchase__main'
      'book-purchase__pages   book-purchase__img           book-purchase__form'
      '.                      book-purchase__description   book-purchase__description';
  }
  /* stylelint-enable */

  &__img {
    grid-area: book-purchase__img;
    padding-bottom: 35px;

    @media (min-width: $screen-m) {
      padding-bottom: 25px;
    }

    @media (min-width: $screen-l) {
      height: 522px;
    }

    & .product-card-mini__img {
      width: 100%;
      height: 100%;

      @media (min-width: $screen-l) {
        max-height: 100%;
      }
    }
  }

  &__pages {
    display: none;
    grid-area: book-purchase__pages;

    @media (min-width: $screen-m) {
      display: block;
    }
  }

  &__pages-inner {
    padding: 13px 8px 10px;
    border: 4px solid $gray-lighten;

    @media (min-width: $screen-m) {
      display: flex;
      flex-direction: row;
    }

    @media (min-width: $screen-l) {
      flex-direction: column;
    }
  }

  &__pages-link {
    position: relative;
    width: 100%;

    @media (min-width: $screen-m) {
      margin-right: 4px;
    }

    @media (min-width: $screen-l) {
      margin-right: 0;
      margin-bottom: 4px;
    }

    &:last-child {

      @media (min-width: $screen-m) {
        margin-right: 0;
      }

      @media (min-width: $screen-l) {
        margin-bottom: 0;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(200, 200, 200, 0.7);
      opacity: 0;
      z-index: 10;
    }

    &:after {
      content: '';
      position: absolute;
      top: 45%;
      bottom: 0;
      left: 43%;
      right: 0;
      background: url(../img/book-store/icon_plus.png) no-repeat;
      background-size: 20%;
      opacity: 0;
      z-index: 10;
    }

    &:hover:before,
    &:hover:after {
      opacity: 1;
    }
  }

  &__pages-item {

    @media (min-width: $screen-l) {
      position: relative;
      height: 160px;
      width: 100%;
      object-fit: fill;
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    grid-area: book-purchase__about;
  }

  &__about-autor {
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 700;
  }

  &__about-title {
    margin: 0;
    padding-bottom: 20px;

    @media (min-width: $screen-m) {
      font-size: 34px;
    }
  }

  &__about-title-narrow {

    @media (min-width: 450px) {
      display: none;
    }
  }

  &__about-title-wide {
    display: none;

    @media (min-width: 450px) {
      display: block;
    }
  }

  &__about-description {
    line-height: 1.4;
    padding-bottom: 35px;

    @media (min-width: $screen-m) {
      max-width: 305px;
      padding-bottom: 30px;
    }

    @media (min-width: $screen-l) {
      max-width: 100%;
    }
  }

  &__main {
    grid-area: book-purchase__main;
    margin-bottom: 30px;
  }

  &__properties {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;

    @media (min-width: $screen-m) {
      margin-bottom: 50px;
      padding-bottom: 0;
    }

    @media (min-width: $screen-l) {
      margin-bottom: 0;
    }
  }

  &__properties-title {
    display: flex;
    flex-direction: column;
    margin-right: 60px;

    @media (min-width: $screen-m) {
      margin-right: 30px;
    }
  }

  &__properties-title-item {
    color: $gray;
    padding-bottom: 25px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__properties-value {
    display: flex;
    flex-direction: column;
  }

  &__properties-value-item {
    padding-bottom: 25px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__properties-value-item-price {
    font-weight: 700;
  }

  &__description {
    grid-area: book-purchase__description;
  }

  &__description-inner {
    padding-top: 40px;
  }

  &__description-link {
    display: inline-block;
    position: relative;
    color: $link-color;

    &:hover {
      color: $link-color-hover;
    }

    &:before {
      position: absolute;
      content: '';
      display: block;
      top: 10px;
      left: 180px;
      width: 7px;
      border: 1px solid $link-color;
      transform: rotate(45deg);
    }

    &:after {
      position: absolute;
      content: '';
      display: block;
      top: 10px;
      left: 185px;
      width: 7px;
      border: 1px solid $link-color;
      transform: rotate(-45deg);
    }

    &:hover:before,
    &:hover:after {
      border-color: $link-color-hover;
    }
  }

  &__description-link-more {
    display: inline-block;
    position: relative;
    color: $link-color;

    &:hover {
      color: $link-color-hover;
    }

    &:before {
      position: absolute;
      content: '';
      display: block;
      top: 10px;
      left: 70px;
      width: 7px;
      border: 1px solid $link-color;
      transform: rotate(140deg);
    }

    &:after {
      position: absolute;
      content: '';
      display: block;
      top: 10px;
      left: 75px;
      width: 7px;
      border: 1px solid $link-color;
      transform: rotate(-140deg);
    }

    &:hover:before,
    &:hover:after {
      border-color: $link-color-hover;
    }
  }

  &__description-title {
    margin: 0;
    padding-bottom: 20px;
  }

  &__description-text p,
  &__description-text-more p {
    margin: 0;
    padding-bottom: 30px;
    line-height: 1.7;

    @media (min-width: $screen-m) {
      width: 95%;
    }

    @media (min-width: $screen-l) {
      width: 100%;
    }
  }

  &__description-link--hide {
    display: none;
  }

  &__description-text--hide {
    display: none;
  }

  &__likes-item {
    position: relative;
    width: 276px;
    text-align: right;
    font-size: 14px;
    color: $main-text-color;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:before,
    &:hover:before,
    &:focus:before {
      content: '❤';
      left: 0;
      top: 0;
      position: absolute;
      font-size: 18px;
    }

    &:before {
      color: $gray-light;
      top: -3px;
    }

    &:hover:before {
      color: $main-color-lighten;
      top: -3px;
    }

    &:focus:before {
      top: -3px;
      color: $main-color;
    }
  }

  &__form {
    grid-area: book-purchase__form;
    order: -1;
  }

  &__form-inner {
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-m) {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  &__form-quantity {
    margin-bottom: 30px;
  }

  &__form-submit {
    margin-bottom: 30px;

    @media (min-width: $screen-m) {
      margin-right: 40px;
      min-width: 50%;
      order: -2;
    }
  }

  &__pages-slider {
    position: fixed;
    margin-top: -230px;
    top: 50%;
    width: 100%;
    height: 460px;
    background-color: $black;
    border-radius: 3px;
    z-index: 9999;

    @media (min-width: $screen-m) {
      margin-left: -380px;
      left: 50%;
      width: 760px;
    }

    & .cross {
      top: 10px;
      right: 5px;

      @media (min-width: 820px) {
        top: -2px;
        right: -20px;
      }
    }

    & .cross:before,
    & .cross:after {
      background-color: $white;

      @media (min-width: 820px) {
        background-color: $black;
      }
    }
  }

  &__pages-slider--hide {
    display: none;
  }
}
