.book-inner {
  padding: 40px 30px 80px;

  @media (min-width: $screen-m) {
    padding: 40px 40px 80px;
  }

  @media (min-width: $screen-l) {
    padding: 40px 60px 80px;
    width: 1260px;
    margin: 0 auto;
  }
}
