.catalog {

  &__title {
    display: none;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 45px;

    @media (min-width: $screen-m) {
      padding: 0 70px;
    }

    @media (min-width: $screen-l) {
      padding: 0 40px;
    }
  }
}
