.contacts {
  padding-bottom: 50px;

  &__description {

    &-title {
      margin: 0;
      padding-bottom: 40px;
      font-size: 40px;
    }

    &__inner {
      padding: 35px 30px;

      @media (min-width: $screen-m) {
        padding:35px 40px;
      }

      @media (min-width: $screen-l) {
        padding: 55px 60px;
        margin: 0 auto;
        width: 1260px;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      padding-left: 20px;

      @media (min-width: $screen-m) {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    &__item {
      padding-bottom: 20px;
      color: #1a1ff7;

      &:last-child {
        padding-bottom: 0;
      }

      @media (min-width: $screen-m) {
        padding-right: 80px;
      }
    }
  }

  &__form {
    padding: 0 10px;

    &__inner {

      @media (min-width: $screen-m) {
        padding: 0 20px;
      }

      @media (min-width: $screen-l) {
        width: 1210px;
        margin: 0 auto;
      }
    }

    @media (min-width: $screen-m) {
      padding: 0 30px;
    }

    &__submit {
      width: 100%;
      margin-bottom: 60px;

      @media (min-width: $screen-m) {
        width: 48%;
      }

      @media (min-width: $screen-l) {
        position: absolute;
        width: 360px;
        right: 20px;
        bottom: 57px;
      }
    }
  }
}

@media (min-width: $screen-m) {

      .emailBlock,
      .messageBlock {
        display: inline-block;
        width: 48%;
      }

      .emailBlock {
        margin-right: 3%;
      }
    }

    @media (min-width: $screen-l) {

      .emailBlock,
      .messageBlock {
        width: 360px;
      }
    }

.map {
  width: 100%;
  height: 340px;
  margin-bottom: 40px;

  @media (min-width: $screen-l) {
    padding: 0 60px;
  }
}
