.page-footer {
  background-color: $footer-color;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 21px 30px 20px;
  }

  &-logo__inner {
    display: flex;
    flex-direction: column;
  }

  &-logo__time {
    font-size: 14px;
    padding-top: 5px;
    color: $gray-dark;
  }

  &-nav {

    &__item {
      display: none;
      font-weight: 700;

      &:last-child {
        display: block;
      }
    }

    &__link {
      text-transform: lowercase;
    }
  }
}

@media (min-width: $screen-m) {

  .page-footer {

    &__inner {
      align-items: center;
      padding: 15px 40px;
    }

    &-logo__time {
      padding-top: 0;
    }

    &-logo__inner {
      flex-direction: row;
    }

    &-nav {
      width: 300px;

      &__list {
        display: flex;
        justify-content: space-between;
      }

      &__item {
        font-size: 14px;
        display: inline-block;
      }
    }
  }
}

@media (min-width: $screen-l) {

  .page-footer {

    &__inner {
      align-items: center;
      width: 1280px;
      margin: 0 auto;
      padding: 18px 60px;
    }
  }
}
