.form {
  position: relative;
  border: 8px solid $gray-lighten;
  padding: 0 13px;

  &:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 15%;
    width: 40%;
    height: 8px;
    background-color: $second-color;

    @media (min-width: $screen-m) {
      left: 5%;
    }

    @media (min-width: $screen-l) {
      left: 50px;
      width: 400px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -8px;
    right: 15%;
    width: 40%;
    height: 8px;
    background-color: $second-color;

    @media (min-width: $screen-m) {
      right: 5%;
    }

    @media (min-width: $screen-l) {
      right: 50px;
      width: 740px;
    }
  }

  &__title {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  &__text {
    margin: 0;
    padding-bottom: 40px;
  }

  &__email,
  &__message {
    margin-bottom: 40px;
    width: 100%;
    background-color: $second-color;
    border: none;
    border-bottom: 4px solid $gray-light;
    font-size: 16px;

    &:hover {
      border-color: $main-color-lighten;
    }

    &:focus {
      border-color: $main-color;
    }
  }

  &__email--error {
    border-color: $error-color;
  }

  &__submit {
    height: 50px;
    border: none;
    border-radius: 3px;
    color: $second-color;
    background-color: $button-color;
    cursor: pointer;

    &:hover {
      background-color: $main-color-lighten;
    }

    &:focus {
      background-color: $main-color;
    }
  }

  &__quantity {
    background-color: $gray-light;
    width: 80px;
    height: 50px;
    text-align: center;
    border: none;
    border-radius: 3px;

    &:hover,
    &:focus {
      background-color: $gray-lighter;
    }

    &:focus {
      border: 1px solid $gray-light;
    }
  }

  &__quantity-text {
    padding-left: 10px;
  }

  &__likes {
    appearance: none;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 13px;
    width: 13px;
    color: $main-color;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    z-index: 10;

    &:before,
    &:hover:before,
    &:checked:before {
      content: '❤';
      display: inline-block;
      font-size: 18px;
    }

    &:before {
      color: $gray-light;
    }

    &:hover:before {
      color: $main-color-lighten;
    }

    &:checked:before {
      top: -3px;
      color: $main-color;
    }
  }

  &__likes-text {
    font-size: 14px;
  }

  // &__social {
  //   display: flex;
  //   flex-direction: row;
  //   padding-top: 50px;
  // }

  // &__social-item {
  //   position: relative;
  //   padding-right: 30px;

  //   &:last-child {
  //     padding-right: 0;
  //   }
  // }

  // &__social-input {
  //   appearance: none;
  //   position: relative;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   cursor: pointer;
  //   display: inline-block;
  //   outline: none;
  //   z-index: 10;
  // }

  // &__social-text {
  //   padding-left: 35px;
  //   font-weight: 700;
  // }

  // &__social-facebook,
  // &__social-vk,
  // &__social-thumbs-up,
  // &__social-thumbs-down {
  //   position: absolute;
  //   top: -5px;
  //   background: url('../img/book-store/sprites/social.png') no-repeat;
  //   overflow: hidden;
  //   text-align: left;
  // }

  // &__social-facebook {
  //   background-position: -5px -50px;
  //   width: 20px;
  //   height: 20px;

  //   &:hover {
  //     background-position: -5px 0;
  //   }

  //   &:checked {
  //     background-position: -5px -25px;
  //   }
  // }

  // &__social-vk {
  //   background-position: -5px -125px;
  //   width: 20px;
  //   height: 20px;

  //   &:hover {
  //     background-position: -5px -75px;
  //   }

  //   &:checked {
  //     background-position: -5px -100px;
  //   }
  // }

  // &__social-thumbs-up {
  //   background-position: -5px -246px;
  //   width: 18px;
  //   height: 19px;

  //   &:hover {
  //     background-position: -5px -198px;
  //   }

  //   &:checked {
  //     background-position: -5px -222px;
  //   }
  // }

  // &__social-thumbs-down {
  //   background-position: -5px -270px;
  //   width: 18px;
  //   height: 19px;

  //   &:hover {
  //     background-position: -5px -150px;
  //   }

  //   &:checked {
  //     background-position: -5px -174px;
  //   }
  // }

  &__success,
  &__denied {
    position: fixed;
    margin-top: -130px;
    top: 50%;
    width: 100%;
    height: 260px;
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 12px 38px 10px rgba(244, 212, 228, 0.7);
    z-index: 9999;

    @media (min-width: 360px) {
      margin-left: -180px;
      left: 50%;
      width: 360px;
    }
  }

  &__success--hide,
  &__denied--hide {
    display: none;
  }

  &__success-inner,
  &__denied-inner {
    position: relative;
    padding-top: 40px;
    padding-left: 30px;
  }

  &__success-title {
    width: 200px;
    font-size: 30px;
    font-weight: 700;
  }

  &__denied-title {
    font-size: 30px;
    font-weight: 700;
    color: $error-color;
  }

  &__success-description {
    margin: 30px 0 0;
    width: 230px;
    line-height: 1.7;
  }

  &__denied-description {
    margin: 25px 0 0;
    width: 295px;
    line-height: 1.7;
  }

  &__block-email,
  &__block-message {

    @media (min-width: $screen-m) {
      display: inline-block;
      width: 48%;
    }

    @media (min-width: $screen-l) {
      width: 360px;
    }
  }

  &__block-email {

    @media (min-width: $screen-m) {
      margin-right: 3%;
    }
  }
}
