.page-header {
  background-color: $header-color;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px 30px 13px;
    align-items: center;
  }
}

.logo {
  font-weight: 700;

  &__inner {
    width: auto;
    display: flex;
    flex-wrap: wrap;
  }

  &__time {
    display: none;
    font-size: 14px;
    color: $gray-dark;
  }
}

.main-nav {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 19px 23px 19px 50px;
    width: 195px;
    height: 140px;
    top: -156px;
    left: -116px;
    text-align: left;
    opacity: 0;
    background-color: rgba(244, 212, 228, 0.8);
    transition: all linear 0.3s;
  }

  &__item {
    display: inline-block;
  }

  .phone--blue {
    position: absolute;
    left: -25px;
    top: 2px;
  }

  &__link {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    text-transform: lowercase;

    &-phone {
      color: $link-color;
    }

    &--active {
      color: $second-color;
    }
  }

  &__inner {
    order: -1;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    position: relative;

    &--phone {
      display: none;
    }
  }

  // ---------BurgerMenu---------
  &__toggle {
    position: relative;
    margin-left: 18px;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 13px;
    right: 0;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $black;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    &-name {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: 2px;
      font-size: 0;
    }

    &-name:before,
    &-name:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $black;
    }
  }

  &__toggle-close {
    position: relative;
    margin-left: 18px;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 13px;
    right: 0;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $black;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    &-name {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      font-size: 0;
    }
  }
}

.menu-open {
  top: 38px;
  opacity: 1;
}

.burger-hide {
  display: none;
}

@media (min-width: $screen-m) {

  .page-header {

    &__inner {
      padding: 18px 40px 20px;
    }
  }

  .logo {
    padding-right: 30px;

    &__inner {
      width: 260px;
    }

    &__time {
      display: inline-block;
    }
  }

  .main-nav {

    &__inner {
      display: flex;
    }

    &__toggle,
    &__toggle-close {
      display: none;
    }

    &__list {
      flex-direction: row;
      position: relative;
      padding: 0 35px 0 0;
      width: 300px;
      height: auto;
      top: 0;
      left: 0;
      background-color: transparent;
      opacity: 1;
    }

    &__item {

      &:last-child {
        display: none;
      }
    }

    &__button {
      width: 60px;

      &--phone {
        display: block;
      }
    }
  }
}

@media (min-width: $screen-l) {

  .page-header {

    &__inner {
      width: 1260px;
      margin: 0 auto;
      padding: 18px 60px;
    }
  }

  .main-nav {

    &__list {
      padding-right: 80px;
      width: 350px;
    }
  }
}
