.logo {
  font-size: 18px;
  font-weight: 700;

  @media (min-width: $screen-m) {
    margin-right: 30px;
  }

  &__time {
    display: none;
    font-size: 15px;
    color: $gray-dark;

    @media (min-width: $screen-m) {
      display: inline-block;
    }
  }
}
