.news {
  padding: 0 30px;
  background: linear-gradient(to bottom, $second-color 0 30%, $main-color-lighten 30% 100%);

  @media (min-width: $screen-m) {
    padding: 0 40px;
  }

  @media (min-width: $screen-l) {
    padding: 0 60px;
  }

  &__inner {

    @media (min-width: $screen-l) {
      width: 1160px;
      margin: 0 auto;
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media (min-width: $screen-m) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__title {
    margin: 0;
    padding-bottom: 20px;

    @media (min-width: $screen-m) {
      padding-bottom: 0;
    }
  }

  &__link {
    display: block;
    color: $link-color;

    &:hover {
      color: $link-color-hover;
    }
  }

  &__list {
    display: flex;
    list-style-type: none;
    overflow-x: auto;
    padding-bottom: 30px;
  }

  &__member-card {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin-right: 40px;
    min-height: 320px;
    min-width: 210px;

    @media (min-width: $screen-l) {
      width: 260px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__product-card-mini-img-item {
    min-height: 320px;
    min-width: 210px;
    padding-bottom: 20px;

    @media (min-width: $screen-l) {
      height: 370px;
      width: 260px;
    }
  }

  &__product-card-mini-img {
    order: -1;
  }
}
