.page-header {
  background-color: $white;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px 30px 13px;
    align-items: center;

    @media (min-width: $screen-m) {
      padding: 18px 40px 20px;
    }

    @media (min-width: $screen-l) {
      width: 1260px;
      margin: 0 auto;
      padding: 18px 60px;
    }
  }

  &__logo {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (min-width: $screen-m) {
      width: 270px;
    }
  }
}
