.pagination {
  padding: 0 60px 60px;

  @media (min-width: $screen-m) {
    padding: 0 110px 60px;
  }

  @media (min-width: $screen-l) {
    padding: 0 55px 60px;
    margin: 0 auto;
    width: 1260px;
  }

  &__item {
    display: inline-block;
    padding-bottom: 3px;
  }

  &__link {
    width: 30px;
    height: 30px;
    font-weight: 700;
    color: $main-text-color;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: $main-color-lighten;
    }

    &:active {
      background-color: transparent;
      color: $gray;
    }
  }

  &__link--active {
    color: $main-color;
    background-color: $main-color-lighten;
  }
}
