.recommendation {
  padding: 60px 40px 90px;

  @media (min-width: $screen-l) {
    width: 1280px;
    margin: 0 auto;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 171px 171px 171px 171px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas:
      'article-little   article-big      article-big       article-gift'
      'article-medium   article-big      article-big       article-gift'
      'article-medium   article-vote     article-colored   article-gift'
      'article-footer   article-footer   article-footer    article-gift';
  }

  &__article-little {
    grid-area: article-little;
    padding-left: 30px;
    border-radius: 3px;
    box-shadow: 0 3px 10px 0 rgba(64, 66, 172, 0.35);

    &__title {
      margin: 0;
      padding-top: 20px;
      font-size: 16px;
    }

    &__description {
      line-height: 1.7;
    }

    &__link {
      color: $link-color;

      &:hover {
        color: $link-color-hover;
      }
    }
  }

  &__article-vote {
    grid-area: article-vote;
    padding-left: 12px;
    border-radius: 3px;
    box-shadow: 0 3px 10px 0 rgba(64, 66, 172, 0.35);

    &__title {
      margin: 0;
      padding-top: 15px;
      font-size: 16px;
    }

    &__description {
      margin: 0;
      padding-top: 15px;
      line-height: 1.7;
    }

    &__button {
      margin-top: 12px;
      width: 96%;
    }
  }

  &__article-medium {
    grid-area: article-medium;
    background-image: url(./../img/book-store/recommendation-article-medium.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 3px;

    &__title {
      margin: 0;
      padding-top: 125px;
      color: $second-text-color;
      font-weight: 500;
      text-align: center;
    }
  }

  &__article-big {
    grid-area: article-big;
    background-image: url(./../img/book-store/recommendation-article-big.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 3px;

    &__title {
      margin: 0;
      padding-top: 30px;
      color: $second-text-color;
      font-weight: 500;
      text-align: center;
    }

    &__description {
      color: $second-text-color;
      text-align: center;
    }
  }

  &__article-colored {
    grid-area: article-colored;
    padding-left: 17px;
    background-color: #ce6194;
    border-radius: 3px;
    box-shadow: 0 3px 10px 0 rgba(64, 66, 172, 0.35);

    &__title {
      margin: 0;
      padding-top: 20px;
      padding-bottom: 25px;
      color: $second-text-color;
      font-size: 16px;
    }

    &__description {
      margin: 0;
      max-width: 260px;
      line-height: 1.7;
      color: $second-text-color;
    }
  }

  &__article-footer {
    grid-area: article-footer;
    background-image: url(./../img/book-store/recommendation-article-footer.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 3px;
    text-align: center;

    &__title {
      margin: 0;
      padding-top: 55px;
      padding-bottom: 20px;
      color: $second-text-color;
    }

    &__description {
      margin: 0;
      color: $second-text-color;
    }
  }

  &__article-gift {
    grid-area: article-gift;
    padding: 0 20px;

    &__title {
      margin: 0;
      padding-top: 35px;
      padding-bottom: 22px;
    }

    &__text {
      margin-bottom: 30px;
    }

    &__description {
      line-height: 1.7;
    }

    &__img-wrap {
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 40px;
    margin: 0;
    padding-left: 20px;
    padding-bottom: 40px;
  }
}
