.slider {
  padding: 35px 10px 70px;

  @media (min-width: $screen-l) {
    width: 1280px;
    margin: 0 auto;
  }

  &__item {
    display: flex;

    &__inner {
      width: 100%;

      @media (min-width: $screen-l) {
        width: 600px;
      }
    }

    &-about {
      font-style: italic;
      padding: 0 20px;
      max-width: 450px;

      @media (min-width: $screen-l) {
        padding: 0 40px 30px;
      }
    }

    &-text {
      position: relative;
      padding: 30px 10px 30px;
      height: 280px;
      border: 8px solid transparent;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -8px;
        bottom: -8px;
        left: -8px;
        right: -8px;
        border: 8px solid $gray-lighten;
      }

      @media (min-width: $screen-m) {
        padding: 40px 30px 50px;
        height: 230px;
      }

      @media (min-width: $screen-l) {
        padding: 40px 30px 40px;
        min-width: 600px;
        min-height: 355px;
      }
    }

    &-descr {
      margin: 0;
      padding-bottom: 40px;

      @media (min-width: $screen-l) {
        padding-bottom: 30px;
        font-size: 40px;
        line-height: 1.3;
      }
    }

    &-link {
      position: absolute;
      bottom: 25px;
      font-size: 16px;
      color: $link-color;

      &:hover {
        color: $link-color-hover;
      }
    }

    &-img {

      &__link {
        display: none;
        margin-top: 50px;
        margin-left: 70px;
        margin-right: 70px;
      }
    }

    &-img__link {

      @media (min-width: $screen-l) {
        display: block;
      }
    }
  }

  &__item-text:before {

    @media (min-width: $screen-l) {
      right: 90px;
      z-index: -1;
    }
  }

  @media (min-width: $screen-m) {
    padding: 35px 140px 0;
  }

  @media (min-width: $screen-l) {
    padding: 35px 120px 0;
  }
}
